<% for route in @routes do %>
	<li data-theme="c"><a href="/map?id=<%= route.id %>" data-transition="slide"><%=route.start.name%>--<%=route.ending.name%> Likes: <%= route.likes %> Dislikes: <%= route.dislikes %></a></li>
<% end %>
