<% for route in @routes do %>
	<li data-theme="c"><a href="/map?id=<%= route.id %>" data-transition="slide" rel="external"><%=route.start.name%>--<%=route.ending.name%> Likes: <%= route.likes %> Dislikes: <%= route.dislikes %> <%= image_tag("star.png", :alt => "star", :class => "ui-li-icon") if route.info(@userid)["favorite"] == 1 %></a></li>
<% end %>
