<!DOCTYPE html>
<html>
<head>
  <title>DigiTravel - Desktop</title>
  <%= stylesheet_link_tag "desktop/jquery-ui-1.8.18.custom.css" %>
  <%= javascript_include_tag "desktop/jquery-1.7.1.min.js" %>
  <%= javascript_include_tag "desktop/jquery-ui-1.8.18.custom.min.js" %>
  <%= javascript_include_tag "desktop/jquery.layout-latest.js" %>
</head>
<body>

<%= yield %>

</body>
</html>