<!DOCTYPE html>
<html>
<head>
  <title>DigiTravel - Desktop</title>
  <%= stylesheet_link_tag "desktop/jquery-ui-1.8.18.custom.css" %>
  <%= stylesheet_link_tag "desktop/theme.css" %>
  <%= javascript_include_tag "desktop/jquery-1.7.1.min.js" %>
  <%= javascript_include_tag "desktop/jquery-ui-1.8.18.custom.min.js" %>
  <%= javascript_include_tag "desktop/jquery.layout-latest.js" %>
  	<style>
		html {
				/* allow scrolling if layout hits min-width/height */
				overflow:		auto !important; /* override Layout default of 'hidden' */
			}
		.accordion { height: 100% }
	</style>
	<SCRIPT type="text/javascript">
		$(document).ready(function () {
			pageLayout = $('body').layout({
			applyDefaultStyles: true,
			spacing_open:0,
			spacing_closed: 0,
			slidable:  false,
			togglerLength_closed:  0,
			});
			pageLayout.sizePane("north", 50);
			pageLayout.sizePane("west", 250);
		});
		$(function() {
			$( "#accordion" ).accordion({fillSpace: true});
			$( "button", ".routeModBtns" ).button();
			$( "button", ".userList" ).button({icons:{secondary:"ui-icon-carat-1-e"}});
			$( "#logout", ".routeModBtns").button({icons:{primary:"ui-icon-power"}});
			$( "input:submit", "#acctBtns" ).button();
		});
	</SCRIPT>
</head>
<body>

<%= yield %>

</body>
</html>