<!DOCTYPE html>
<html>
<head>
  <title>DigiTravel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag "mobile/jquery.mobile-1.0.1.min.css" %>
  <%= javascript_include_tag "mobile/jquery.min.js" %>
  <%= javascript_include_tag "mobile/jquery.mobile-1.0.1.min.js" %>
  <%= javascript_include_tag "mobile/ajax.js" %>
  <script type=text/javascript>
	$(document).bind("mobileinit", function(){
		$.mobile.defaultPageTransition = 'none';
		$.mobile.ajaxEnabled = false;
	});
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
